# Dependency directories
/node_modules/
/.angular/cache
/dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Variáveis de ambiente
.env
.env.local

# Build / cache
build/

# Sistema
.DS_Store
Thumbs.db